# Do not share your OpenAI API key with anyone! It should remain a secret.
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# Enable the proxy agent if you want to use a SOCKS proxy.
PROXY_AGENT.ENABLE=true
PROXY_AGENT.URL=socks://0.0.0.0:1080
